header {
    background-color: bisque;
    height: 70px;
}

.header-title {
    padding-top: 15px;
    color:gray;
    text-align:center
}


/* パソコン用 */
@media screen and (min-width: 768px) {
    .photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .photo {
        width: calc(25% - 20px);
        margin-right: 20px;
        overflow: hidden;
    }

    .photo img {
        width: 100%;
        height: auto;
    }
}

/* スマホ用 */
@media screen and (max-width: 767px) {
    .photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .photo {
        width: calc(50% - 20px);
        margin-right: 20px;
        overflow: hidden;
    }

    .photo img {
        width: 100%;
        height: auto;
    }
}
