header {
    display: flex;
    background-color: bisque;
    height: 70px;
    padding: 10px 20px;
    align-items: center;
    margin-bottom: 15px;
}

header h1 {
    color:gray;
    font-weight: bold;
    float: left;
}

.upload-form-button {
    margin-left: auto;
    display: inline-block;
    padding: 10px 20px;
    background-color:white;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    width: 150px;
    text-align: center;
}

.search-bar {
    margin-bottom: 15px;
}


/* パソコン用 */
@media screen and (min-width: 768px) {
    .photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .photo {
        width: calc(25% - 20px);
        margin-right: 20px;
        overflow: hidden;
    }

    .photo img {
        width: 100%;
        height: auto;
    }
}

/* スマホ用 */
@media screen and (max-width: 767px) {
    .photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .photo {
        width: calc(50% - 20px);
        margin-right: 20px;
        overflow: hidden;
    }

    .photo img {
        width: 100%;
        height: auto;
    }
}
